
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 1.5rem;
    line-height:1.8;
    font-weight: 800;
    color: #606060;
}
.extra-div h2, .serviceoffers h2{
    font-size: 1.8rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap';

}
/* ******************************** actual css classes start******************************** */
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 168, 255, 0.3),rgba(0,168,255,0.3)) ,url('images/photo-1533750516457-a7f992034fec.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 77%,50% 100%,0 75%, 0 0);
    position: relative;
}

.header::before{
    content:"" ;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    top: 0;
    opacity: 0.2%;
    z-index: -1;
    background-color: linear-gradient(rgb(128, 0, 0));
}
.navbar::before{
    
    content:"" ;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    top: 0;
    opacity: 0.2%;
    z-index: -1;
    background-color: linear-gradient(rgb(128, 0, 0));

    

}
.nav-item a{
    color: white;
    font-weight: bold;
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); 
   -webkit-transform: translate(-50%,-50%);
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.header-buttons a:hover{
    color: black;
    background: white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}
.header-extradiv{
    width: 100%; height: auto;
    margin: 100px 0;
    text-align: center;
}
.extra-div{
    background-color: white;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-30px);

}

/* *************************************extra header div css end******************************** */
/* *************************************service offer div css start******************************** */
.serviceoffers{
    background-color: lightgray;
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom:50px ;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names{
    color: #2e2e2e;
    font-size:0.9rem !important;
    text-transform: uppercase;
    font-weight: bold;
    height: 45px;


}
.service-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress{
    height:1.5rem !important;
}
/* /* *************************************service offer div css ends******************************** * */
/* /* *************************************project work start******************************** * */
.projectwork{
    margin:100px 0;
}
.projectwork h2{
    font-size: 2rem;
    text-align: center;
}
/* /* *************************************project work ends******************************** * */

/* /* *************************************pricing css ends******************************** * */
  
.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing::before{
    content:"" ;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: linear-gradient(160deg,#16c9f6 55%, #fff 0%);
}
.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.cards{
   transition: 0.4s ease;

}
 .card-header{ 
    /* font-size: 1.6rem; */
    font-weight: bold;
    background: white;
    padding:25px 9!important ;
} 
.card-body{
    padding: 30px 0!important;
}
.card-body li{
    margin: 10px 0!important;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: #fff;
    padding: 30px  0px!important;
}
.card:hover .card-footer a{

    border: 1px solid  #50d1c0;
    border-radius: 100px  ;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;

}
.card-footer a:hover{
    color:white;
    background:#50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);

}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);

}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;

}
/* .card-second{
    
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);

} */
/* /* ************************************pricing css ends******************************** * */





